[submodule "duckdb"]
	path = duckdb
	url = https://github.com/aman304gupta/duckdb.git
	branch = main
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main
[submodule "src/PGM"]
	path = src/PGM
	url = https://github.com/gvinciguerra/PGM-index.git
